<form role="form" method="post">
  <div class="form-group">
    <label for="link">URL</label>
    <input type="text" class="form-control" id="link" name="url" placeholder="Enter URL">
  </div>
  <div class="form-group">
    <label for="title">Title (optional)</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title (optional)">
  </div>
  <div class="form-group">
  	<label for="description">Description (optional)</label>
  	<textarea class="form-control" id="description" rows="4" name="description" placeholder="Description (optional)"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>